debug screen
<hr>

DELETE
<form method="post" action="/">
    <input type="text" name="command">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete!!">
</form>

<hr>

POST<br>

<form method="post" action="/">
    Commad:<input type="text" name="command"><br>
    Key:<input type="text" name="key"><br>
    exptime<input type="text" name="exptime"><br>
    bytes<input type="text" name="bytes"><br>
    CASid<input type="text" name="casid"><br>
    value<input type="text" name="value"><br>
    <input type="text" name="size"><br>
    digit<input type="text" name="digit"><br>
<br>
    <input type="submit" value="Post!">
</form>
<br>

PUT
<form method="post" action="/">
    Command:<input type="text" name="command"><br>
    Bool:<input type="text" name="bool"><br>
    second:<input type="text" name="sec"><br>
    lost action:<input type="text" name="lost"><br>
    log level:<input type="text" name="level"><br>
    <input type="hidden" name="_method" value="PUT">
    <input type="submit" value="put!!">
</form>

<hr>
<hr>
response<br>
<%#= h @res %>
<%= h @res %>
