#console {
  background-color: #031340;
  border: gray solid 5px;;
  color: white;
  font-size: 20px;
  position: relative;
  height: 600px;
  margin: 100px;
}

#bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#inputArea {
  margin-top: 20px;
  background-color: black;
  border: none;
  color: white;
  font-size: 20px;
  width: 100%;
}

p.res-line {
    margin: 0;
}
